<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Car Management</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cars">Car List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/car-add">Add Car</a>
    </li>
  </ul>
</nav> -->
<!-- <app-car-list-component></app-car-list-component> -->
<!-- <router-outlet></router-outlet>   -->
 <!-- This is where the routed component will be displayed --> 
<app-car-add></app-car-add>